.navbar {
  background-color: #eff0f5;
  min-height: 120px;
}

a {
  white-space: nowrap;
}

#bruker {
  color: #563e7c;
}

#brukerWrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 986px) {
  #brukerWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
