<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ny Ferd</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="forms" (ngSubmit)="vedSubmit()">

      <label>Båtnavn</label>
      <div class="form-group">
        <select class="form-control " formControlName="bIdForm">
          <option *ngFor="let baat of alleBaater" [ngValue]="baat.id">{{baat.navn}}</option>
        </select>
        <p class="alert alert-warning "
          [hidden]="forms.controls.bIdForm.valid || forms.controls.bIdForm.hasError('required')">
          Obligatorisk
        </p>
      </div>

      <label>Rute</label>
      <div class="form-group">
        <select class="form-control" formControlName="rIdForm">
          <option *ngFor="let rute of alleRuter " [ngValue]="rute.id">{{rute.startpunkt + ' - ' + rute.endepunkt}}
          </option>
        </select>
        <p class="alert alert-warning"
          [hidden]="forms.controls.rIdForm.valid || forms.controls.rIdForm.hasError('required')">
          Obligatorisk
        </p>
      </div>

      <label>Avreisedato</label>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" formControlName="avreiseDatoForm" class="form-control" placeholder="Avreise dato"
            autofocus />
        </div>
        <div>
          <small class="alert alert-warning"
            [hidden]="forms.controls.avreiseDatoForm.valid || forms.controls.avreiseDatoForm.pristine">
            Må være av følgende format: dd/MM/yyyy
          </small>
        </div>
      </div>

      <label>Avreisetid</label>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" formControlName="avreiseKlokkeslettForm" class="form-control" placeholder="Avreise tid"
            autofocus />
        </div>
        <div>
          <small class="alert alert-warning"
            [hidden]="forms.controls.avreiseKlokkeslettForm.valid || forms.controls.avreiseKlokkeslettForm.pristine">
            Må være av følgende format: HH:mm
          </small>
        </div>
      </div>

      <label>Ankomstdato</label>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" formControlName="ankomstDatoForm" class="form-control" placeholder="Ankomst dato"
            autofocus />
        </div>
        <div>
          <small class="alert alert-warning "
            [hidden]="forms.controls.ankomstDatoForm.valid || forms.controls.ankomstDatoForm.pristine">
            Må være av følgende format: dd/MM/yyyy (mÅ være senere enn avreisedato)
          </small>
        </div>
      </div>

      <label>Ankomsttid</label>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="text" formControlName="ankomstKlokkeslettForm" class="form-control" placeholder="Ankomst tid"
            autofocus />
        </div>
        <div>
          <small class="alert alert-warning"
            [hidden]="forms.controls.ankomstKlokkeslettForm.valid || forms.controls.ankomstKlokkeslettForm.pristine">
            Må være av følgende format: HH:mm
          </small>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.close('Lukk')">Lukk</button>
        <button type="submit" class="btn btn-success" [disabled]="!forms.valid">Lagre</button>
      </div>

    </form>
  </div>
</div>